<div class="container glide-container mt-4">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/events.png" (click)="redirect('departmentdetail/events')" class="glide-img" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            01
          </div>
          <div class="text-name text-center text-uppercase">
            events
          </div>
        </li>
        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/creatives_main.png" class="glide-img" (click)="redirect('departmentdetail/creatives')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase ">
            02
          </div>
          <div class="text-name text-center text-uppercase">
            creatives
          </div>
        </li>
        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/web_main.png" (click)="redirect('departmentdetail/web')" class="glide-img" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            03
          </div>
          <div class="text-name text-center text-uppercase">
           web
          </div>
        </li>
        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/infrastructure.png" class="glide-img" (click)="redirect('departmentdetail/infrastructure')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            04
          </div>
          <div class="text-name text-center text-uppercase">
            infrastructure
          </div>
        </li>

        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/media_main.png" class="glide-img" (click)="redirect('departmentdetail/mediaandpublicity')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            05
          </div>
          <div class="text-name text-center text-uppercase">
            media & publicity
          </div>
        </li>

        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/hospitality_main.png" class="glide-img" (click)="redirect('departmentdetail/hospitality')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            06
          </div>
          <div class="text-name text-center text-uppercase">
            hospitality
          </div>
        </li>

        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/fnb_main.png" class="glide-img" (click)="redirect('departmentdetail/fnb')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            07
          </div>
          <div class="text-name text-center text-uppercase">
            food & beverages
          </div>
        </li>

        <li class="glide__slide">
          <div class="d-image">
            <img src="/assets/departments/marketing_main.png" class="glide-img" (click)="redirect('departmentdetail/marketing')" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          </div>
          <div class="text-num text-center text-uppercase">
            08
          </div>
          <div class="text-name text-center text-uppercase">
            marketing
          </div>
        </li>        
      </ul>
    </div>


    <div class="glide__arrows" data-glide-el="controls" [class.d-none]="mobile">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img class="navigateimg" src="assets/left.png"></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img class="navigateimg" src="assets/right.png"></button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
    <button class="glide__bullet" data-glide-dir="=3"></button>
    <button class="glide__bullet" data-glide-dir="=4"></button>
    <button class="glide__bullet" data-glide-dir="=5"></button>
    <button class="glide__bullet" data-glide-dir="=6"></button>
    <button class="glide__bullet" data-glide-dir="=7"></button>
  </div>
  </div>
</div>
