<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-4 department-div" >
      <div class="image" style="background: url('/assets/nature-1.jpg')">
      </div>
      <div class="index text-center text-white">
        01
      </div>
      <div class="name text-uppercase text-center text-white">
        events
      </div>
    </div>
   <div class="col-12 col-md-4 department-div" >
      <div class="image" style="background: url('/assets/nature-2.jpg')">
      </div>
      <div class="index text-center text-white">
        02
      </div>
      <div class="name text-uppercase text-center text-white">
        creatives
      </div>
    </div>
    <div class="col-12 col-md-4 department-div" >
      <div class="image" style="background: url('/assets/nature-3.jpg')">
      </div>
      <div class="index text-center text-white">
        03
      </div>
      <div class="name text-uppercase text-center text-white">
        web
      </div>
    </div>
  </div>
</div>