<!-- NOT MOBILE VERSION -->
<div class="container-fluid" *ngIf="eventspage">
	<div class="row"  *ngIf="!mobile">
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-5">
			<img src="assets/departments/{{current_event.image}}" (mouseenter) = "showOtherImage()"  [class.d-none]="multiple" style="width:100%; object-fit: cover;margin-top: -5%" class="single-pics">
			<img src="assets/departments/{{current_event.image2}}" (mouseleave) = "showOtherImage()" [class.d-none]="!multiple" style="width:100%; object-fit: cover;margin-top: -8%;transform: scale(1.1)" class="multiple-pics">
		</div>
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-6">
			<div class="text">
				<div class="row" style=" border-bottom:2px solid white;padding-bottom: 0; margin-bottom: 16px;">
					<div class="col-10">
						<p class="head text-uppercase" style="margin-bottom:0">{{current_event.name}}</p>
					</div>
					<div class="col-2 text-right">
					 	<p><img class="cross" src="/assets/cross.png" (click)="redirectTo('departments')"></p>
					 </div>
				</div>
				<p class="description">
					{{current_event.description}}
				</p>
				 <div class="blur-div" (mouseenter)="toggleTrigger()" (mouseleave)="toggleTrigger()" style="text-align: right" (click)="redirectTo('managerdetail/')" id="events-blur-div" >
	            <div class="blur">
	              <a class="nav-link"  id="register" style="min-height:100%;width:100%;position:absolute"></a>
	            </div>
	            <div [@tR]="stateRegister" class="blur-text">
	              <a  class="text-uppercase text-white button-text" (@tR.done)="log($event)">Your manager peeps</a>
	            </div>
	          </div>

			</div>
		</div>
		<div class="col-md-1 d-none d-md-block indicators">
			<p><img src="assets/up.png" (click)="changeEvent('showPrevious')" class="navigatearrows"></p>
			<p class="circle active " (click)="showActive($event,0)"></p>
			<p class="circle " (click)="showActive($event,1)"></p>
			<p class="circle " (click)="showActive($event,2)"></p>
			<p class="circle " (click)="showActive($event,3)"></p>
			<p class="circle " (click)="showActive($event,4)"></p>
			<p class="circle " (click)="showActive($event,5)"></p>
			<p><img src="assets/down.png" (click)="changeEvent('show')" class="navigatearrows"></p>
		</div>
	</div>
</div>


<!-- Pages other than event because they contain only one category  -->
<!-- NOT MOBILE VERSION -->
<div class="container-fluid" *ngIf="!eventspage">
	<div class="row justify-content-center"  *ngIf="!mobile">
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-5">
			<img src="assets/departments/{{currentpage.image}}" (mouseenter) = "showOtherImage()"  [class.d-none]="multiple" style="width:100%; object-fit: cover;margin-top: -5%" class="single-pics">
			<img src="assets/departments/{{currentpage.image2}}" (mouseleave) = "showOtherImage()" [class.d-none]="!multiple" style="width:100%; object-fit: cover;margin-top: -8%;transform: scale(1.1)" class="multiple-pics">
		</div>
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-7">
			<div class="text">
				<div class="row" style=" border-bottom:2px solid white;padding-bottom: 0; margin-bottom: 16px;">
					<div class="col-10">
						<p class="head text-uppercase" style="margin-bottom:0">{{currentpage.name}}</p>
					</div>
					<div class="col-2 text-right">
					 	<p><img class="cross" src="/assets/cross.png" (click)="redirectTo('departments')"></p>
					 </div>
				</div>
				<p class="description">
					{{currentpage.description}}
				</p>
				<div class="blur-div" (mouseenter)="toggleTrigger()" (mouseleave)="toggleTrigger()" style="text-align: right" (click)="redirectTo('managerdetail/')" >
	            <div class="blur">
	              <a class="nav-link"  id="register" style="min-height:100%;width:100%;position:absolute"></a>
	            </div>
	            <div [@tR]="stateRegister" class="blur-text">
	              <a  class="text-uppercase text-white button-text" (@tR.done)="log($event)">Your manager peeps</a>
	            </div>
	          </div>

			</div>
		</div>
	</div>
</div>


<!-- EVENTS MOBILE PAGE.... -->
<div class="mobile" *ngIf="mobile && eventspage">
	<div class="row mb-5" *ngFor="let event of events">
		<div class="col-12 col-md-4">
			<img src="assets/departments/{{event.image}}" style="width:100%; object-fit: cover;margin-top: 10%;transform:scale(1.2)" class="single-pics">
		</div>
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-7">
			<div class="text">
				<div class="row" style=" border-bottom:2px solid white;padding-bottom: 0;margin-bottom: 16px;">
					<div class="col-12 text-center">
						<p class="head text-uppercase" style="margin-bottom:0">{{event.name}}</p>
					</div>
				</div>
				<p class="description">
					{{event.description}}
				</p>
				<div class="blur-div" (mouseenter)="toggleTrigger()" (mouseleave)="toggleTrigger()" style="text-align: right" (click)="redirectTo('managerdetail/')" *ngIf="event.name=='competitions'">
	            <div class="blur">
	              <a class="nav-link"  id="register" style="min-height:100%;width:100%;position:absolute"></a>
	            </div>
	            <div [@tR]="stateRegister" class="blur-text">
	              <a  class="text-uppercase text-white button-text" (@tR.done)="log($event)">Your manager peeps</a>
	            </div>
	          </div>

			</div>
		</div>
	</div>
</div>




<!-- OTHER THAN EVENTS MOBILE PAGE -->
<div class="mobile" *ngIf="mobile && !eventspage">
	<div class="row mb-5" *ngFor="let event of events">
		<div  class="col-12 col-md-4">
			<img src="assets/departments/{{event.image}}" style="width:100%; object-fit: cover;margin-top: 10%;transform:scale(1.2)" class="single-pics">
		</div>
		<div [@fade]="trigger" (@fade.done)="callbackHandler()" class="col-12 col-md-7">
			<div class="text">
				<div class="row" style=" border-bottom:2px solid white;padding-bottom: 0; margin-bottom: 16px;">
					<div class="col-12 text-center">
						<p class="head text-uppercase" style="margin-bottom:0">{{event.name}}</p>
					</div>
				</div>
				<p class="description">
					{{event.description}}
				</p>
				<div class="blur-div" (mouseenter)="toggleTrigger()" (mouseleave)="toggleTrigger()" style="text-align: right" (click)="redirectTo('managerdetail/')" >
	            <div class="blur">
	              <a class="nav-link"  id="register" style="min-height:100%;width:100%;position:absolute"></a>
	            </div>
	            <div [@tR]="stateRegister" class="blur-text">
	              <a  class="text-uppercase text-white button-text" (@tR.done)="log($event)">Your manager peeps</a>
	            </div>
	          </div>

			</div>
		</div>
	</div>
</div>

