.coordi-image{
	width:100%;
	object-fit: cover;
	max-height:250px;
	object-position: top;
}

.coordi-text{
	border-top:2px solid #fff;
	padding-top:8px;
}

.description-text{
	color:#fff;
	font-size: 16px;
}

.name{
	color:#fff;
	font-size: 22px;
}

.memory-row:nth-child(even) .left-image{
	display: none;
}

.memory-row:nth-child(odd) .name{
	text-align: right;
}

.memory-row:nth-child(odd) .name::before{
	content:"-";
}

.memory-row:nth-child(even) .name::after{
	content:"-";
}


.memory-row:nth-child(even) .description-text{
	text-align: right;
}

.memory-row:nth-child(odd) .right-image{
	display: none;
}

@media screen and (max-width:675px){
	.memory-row:nth-child(even) .left-image{
		display: initial;
	}

	.memory-row:nth-child(odd) .name{
		text-align: center;
	}

	.memory-row:nth-child(even) .description-text{
		text-align: center;
	}

	.memory-row:nth-child(odd) .name::before{
		content:"";
	}

	.memory-row:nth-child(even) .name::after{
		content:"";
	}

	.memory-row:nth-child(even) .right-image{
		display: none;
	}

	.coordi-text{
		text-align: center;
	}

	.coordi-text{
		margin-top:20px;
		padding-top: 12px;
	}
}