<div class="container" *ngIf="managers=='creatives'">
	<div class="row text-center head-row">
		<div class="col-11">
			<p class="text-uppercase text-center head-text" style="width:100%;transform:translateX(5%);"> Creatives manager</p>
		</div>
		<div class="col-1">
			<p><img class="cross" (click)="redirectTo('departments')" src="/assets/cross.png"></p>
		</div>
	</div>


	<div class="row justify-content-center">
		<div class="col-12 col-md-4">
			<div class="row">
				<div class="col-12 manager-col">
					<img src="https://clipartart.com/images/clipart-project-manager-4.jpg" class="manager-img">
					<p class="manager-name text-uppercase text-center">rahul shanbag</p>
					<p class="manager-num text-center">9090909090</p>
				</div>
			</div>
			 <div class="row mt-4" style="padding-bottom:32px;">
				  <div class="col-12 text-center icons">
			          <span class="fa fa-twitter"></span>
			          <span class="fa fa-linkedin"></span>
			          <span class="fa fa-facebook"></span>
			          <span class="fa fa-instagram"></span>
			      </div>
			  </div>
		</div>
	</div>

</div>

<div class="container-fluid" *ngIf="managers=='events'">
	<div class="row text-center head-row">
		<div class="col-10 col-md-11">
			<p class="text-uppercase text-center head-text" style="width:100%;transform:translateX(5%);"> Events manager</p>
		</div>
		<div class="col-2 col-md-1">
			<p><img class="cross" (click)="redirectTo('departments')" src="/assets/cross.png"></p>
		</div>
	</div>

	<div class="row justify-content-around">
		<div class="col-12 col-md-3">
			<div class="row">
				<div class="col-12 manager-col">
					<img src="https://clipartart.com/images/clipart-project-manager-4.jpg" class="manager-img">
					<p class="manager-name text-center">Krishnakant Suryavanshi</p>
					<p class="manager-num text-center">9090909090</p>
				</div>
			</div>
			 <div class="row mt-4" style="padding-bottom:32px;">
				  <div class="col-12 text-center icons">
			          <span class="fa fa-twitter"></span>
			          <span class="fa fa-linkedin"></span>
			          <span class="fa fa-facebook"></span>
			          <span class="fa fa-instagram"></span>
			      </div>
			  </div>
		</div>

		<div class="col-12 col-md-3">
			<div class="row">
				<div class="col-12 manager-col">
					<img src="https://clipartart.com/images/clipart-project-manager-4.jpg" class="manager-img">
					<p class="manager-name text-uppercase text-center">rahul shanbag</p>
					<p class="manager-num text-center">9090909090</p>
				</div>
			</div>
			 <div class="row mt-4" style="padding-bottom:32px;">
				  <div class="col-12 text-center icons">
			          <span class="fa fa-twitter"></span>
			          <span class="fa fa-linkedin"></span>
			          <span class="fa fa-facebook"></span>
			          <span class="fa fa-instagram"></span>
			      </div>
			  </div>
		</div>

		<div class="col-12 col-md-3">
			<div class="row">
				<div class="col-12 manager-col">
					<img src="https://clipartart.com/images/clipart-project-manager-4.jpg" class="manager-img">
					<p class="manager-name text-uppercase text-center">rahul shanbag</p>
					<p class="manager-num text-center">9090909090</p>
				</div>
			</div>
			 <div class="row mt-4" style="padding-bottom:32px;">
				  <div class="col-12 text-center icons">
			          <span class="fa fa-twitter"></span>
			          <span class="fa fa-linkedin"></span>
			          <span class="fa fa-facebook"></span>
			          <span class="fa fa-instagram"></span>
			      </div>
			  </div>
		</div>


	</div>

</div>