/****experiments****/
.main-manager-col{
	margin-right: 1px;
}

.events-head{
	color:#fff;
	font-size:32px;
	margin-bottom: 0;
	transform:translateX(12%);
	font-weight:bold;
}



.head-text{
	font-size:64px;
	color:#fff;
	margin-bottom:0;
}

.head-row{
	border-bottom:2px solid #fff;
}

.cross{
	height:30px;
	width:30px;
	text-align: right;
	margin-top:15%;
	transform: rotate(0);
	transition: 0.5s;
	cursor:pointer;
}

.cross:hover{
	transform: rotate(90deg);
	transition: 0.5s;
}

.manager-img{
	width:100%;
	object-fit:cover;
	object-position: top;
	max-height: 300px;
	margin-top: 32px;
}

.manager-name,.manager-num{
	color:#ffffff;
}

.manager-name{
	font-size:24px;
	font-weight: bold;
	margin-bottom: 0;
}

.manager-num{
	font-size: 18px;
}

.manager-col{
	border-bottom:2px solid #fff;
}

.fa{
	font-size: 28px;
	color:#ffffff;
	border:1px solid #ffffff;
	border-radius: 100%; 
	height:48px; 
	width:48px; 
	text-align: center;
	padding-top:8px;
	margin-right:16px;
	opacity:0.5;
	transition:opacity 0.25s ease-in;
}

.fa:last-child{
	margin-right: 0;
}

/*****Image headings*******/
.image-head{
	margin-left:20%;
	margin-bottom: -16px;
}

#events-cross{
	margin-top:12.5%;
}

@media screen and (max-width:675px){
	.head-text{
		font-size:20px;
	}

	.cross{
		height:16px;
		width:16px;
		transform: translateY(30%);
	}

	.image-head{
		height:30px;
		object-fit: cover;
		margin-bottom: -16px;
		margin-left: -16px;
	}

	#events-cross{
		margin-top:50%;
	}

	.fa{
		font-size:24px;
		opacity:1;
		height:40px; 
		width:40px; 
		padding-top:6px;
		margin-right:16px;
	}

}


/******Last changes*******/
.fa:hover{
	opacity:1;
	transition:0.25s ease-in;
}


