<body>
<div class="main-container">
<nav @navAnimation class="navbar navbar-expand-lg bg-dark navbar-dark transparent-nav">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="assets/logo.png" class="logo"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->

    <div class="collapse navbar-collapse main-container-mobile" id="collapsibleNavbar">
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeScreen('home')">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeScreen('whytf')">WHY TF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departments">DEPARTMENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">COORDIE MEMORIES</a>
        </li>
        <li class="nav-item">
          <div class="blur-div" (mouseenter)="toggleTrigger()" (mouseleave)="toggleTrigger()" >
            <div class="blur">
              <a class="nav-link" href="#" id="register" style="min-height:100%;width:100%;position:absolute"></a>
            </div>
            <div [@tR]="stateRegister" class="blur-text">
              <a  class="nav-link" (@tR.done)="log($event)">REGISTER</a>
            </div>
          </div>

        </li>
      </ul>
    </div>
  
</nav>

<div class="main-container-mobile">

  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>

   
    <div @footerAnimation class="footer row">
      <div class="col-12 col-lg-6" *ngIf="smallWidth">
         <p class="footer-text text-lg-right text-center"><span class=" underline-footer d-inline-block" style="overflow-x: hidden">RESULT OF REVERSE VIDEO CHALLENGE</span></p>
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-left">
          <span class="fa fa-twitter"></span>
           <span class="fa fa-linkedin"></span>
          <span class="fa fa-facebook"></span>
          <span class="fa fa-instagram"></span>
      </div>
      <div class="col-12 col-lg-6" *ngIf="!smallWidth">
        <p class="footer-text text-lg-right text-center" ><span class=" underline-footer d-inline-block" style="overflow-x: hidden">RESULT OF REVERSE VIDEO CHALLENGE</span></p>
      </div>
    </div>





</div>
</div>
</body>