.head{
	font-size: 64px;
	color: #ffffff;
	font-weight:bold;
}

.main-div{
	margin-top:48px;
}

.description-text{
	color:#ffffff;
	font-size:24px;
}
.line{
	/*width:20px;*/
	border-left:64px solid #ffffff;
	height:2px;
	margin-top: 16px;
	display: inline-block;
}

#cpimg{
	height:68px;
	object-fit: cover;
}

#whytf:before{
  content: '\2807';
  font-size: 64px;
}

@media screen and (max-width:1080px){
	#cpimg{
		height:56px;
	}
}

@media screen and (max-width:900px){
	#cpimg{
		height:48px;
	}
}

@media screen and (max-width:900px){
	#cpimg{
		width:100%;
		object-fit: contain;
	}
}



@media screen and (max-width:675px){
	.head,#whytf:before{
		font-size: 32px;
	}

	.description-text{
		font-size:16px;
	}
}

