<div  class="row justify-content-center main-div" *ngIf="screen=='whytf'">
	<div class="col-12 col-sm-10 col-md-8">
		<p @animateHead class="head text-center text-md-left" *ngIf="screen=='whytf'" id="whytf">WHY TECHFEST?</p>
		<div  class="row">
			<div @animateHead class="col-2 divi text-md-right d-none d-md-inline-block">
				<p class="line"></p>
			</div>
			<div @animateContent class="col-12 col-md-10 text-center text-md-left">
				<p class="description-text">Techfest is the annual science and technology festival of Indian Institute of Technology Bombay. It also refers to the independent body of students who organize this event along with many other social initiatives and outreach programs around the year. Techfest is known for hosting a variety of events that include competitions, exhibitions, lectures as well as workshops.</p>

			</div>
		</div>
	
	</div>
</div>

<div class="row justify-content-center main-div" *ngIf="screen=='home'">
	<div class="col-12 col-sm-10 col-md-8">
		<p @animateHead class="head text-center text-md-left" *ngIf="screen=='home'"><img src="assets/cp_title.png" id="cpimg"></p>
		<div class="row">
			<div @animateHead class="col-2 divi text-md-right d-none d-md-inline-block">
				<p class="line"></p>
			</div>
			<div @animateContent class="col-12 col-md-10 text-center text-md-left">
				<p class="description-text">Techfest is the annual science and technology festival of Indian Institute of Technology Bombay. It also refers to the independent body of students who organize this event along with many other social initiatives and outreach programs around the year. Techfest is known for hosting a variety of events that include competitions, exhibitions, lectures as well as workshops.</p>

			</div>
		</div>
	
	</div>
</div>

